# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
main
Test-Resulsts/test-test.txt
isra-ksnmss-cpsc502.code-workspace
.vscode/tasks.json
K2SN-MSS/run.sh
isg-attack-vscode-workspace.code-workspace
